@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;

}
.header {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 212, 255, 0) 75%
    ),
    url("/public/img/capa-madmax2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  width: 100%;
  padding: 20px 180px 30px 194px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  
}

.header-content {
  padding: 110px 26px 0px 0px;
  
}
.header-title {
  font-size: 65px;
  font-weight: bold;
  text-transform: uppercase;
}
.header-movie-type {
  font-size: 13px;
  text-transform: uppercase;
  padding: 20px 0px 30px 0px;
}
.header-movie-type a {
  text-decoration: none;
  color: #fff;
  padding: 0px 7px;
}
.header-movie-type a:hover {
  color: #e4bb23;
}
.header-movie-button {
  background-color: #e4bb23;
  padding: 15px 50px;
  border-radius: 40px;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  display: inline-block;
  position: relative;
}
.header-movie-button:hover {
  background-color: #bc9a1d;
}
.header-movie-button i {
  right: 15px;
  top: 12px;
  position: absolute;
  font-size: 20px;
}
.header-movie-information {
  padding: 28px 0px;
  font-size: 14px;
}
.yellow-text {
  color: #e4bb23;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
}
.navbar-menu li {
  margin: 0px 30px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}
.navbar-menu li a {
  text-decoration: none;
  color: #ffff;
}
.navbar-menu li a:hover {
  color: #e4bb23;
}
.navbar-user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-user-name {
  font-size: 13px;
  font-weight: bold;
}
.navbar-user-img {
  margin-right: 15px;
  width: 50px;
}
.navbar-user-img img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}
.content {
  padding: 0px 194px 30px 194px;
  margin-bottom: 10px;
}

.content-list ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 0px 20px;

}
.content-list li {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 0px 25px;
  margin: 0px 20px;
}
.content-list a {
  color: #e4bb23;
  text-decoration: none;
}
.content-list a:hover {
  box-shadow: inset 0 -1px 0 #e4bb23;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.movie-section {
  padding-top: 20px;
  padding-bottom: 15px;
  width: 230px;
}
.movie-section-header {
  margin: 0;
  position: relative;
}

.movie-img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  width: 100%;
  height: auto;
  margin: 0;
}
.movie-info {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 80px 20px;
  top: 0;
  transition: all 0.2s ease-in-out;
	visibility: hidden;
	z-index: 1;
}
.movie-section-header:hover .movie-info{
	visibility: visible;
}
.movie-info h3 {
  text-transform: uppercase;
  color: #e4bb23;
}
.movie-info i {
  font-size: 40px;
  color: #ffff;
}
.movie-info i:hover {
  color: #e4bb23;
}
.movie-section-body {
  background-color: white;
  padding: 10px;
  width: 100%;
  margin-top: -4px;
}
.movie-title {
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 10px;
}
.movie-type {
  text-decoration: none;
  color: #e4bb23;
  font-size: 12px;
}
.movie-type:hover {
  text-decoration: underline;
}
.movie-section-footer {
  background-color: white;
  padding: 0px 10px 10px 10px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.movie-grade {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
.movie-grade i {
  color: #ccc;
  cursor: pointer;
}
.movie-grade i:hover {
  color: #e74c3c;
}
.footer-content {
  background-color: white;
  padding: 25px 194px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.footer-social i {
  color: #bababa;
  font-size: 25px;
}
.twitter:hover {
  color: #55acee;
}
.facebook:hover {
  color: #3b5998;
}
.instagram:hover {
  color: #e95950;
}